body{
	
}
#loginRegister{
	text-align: right;
	text-decoration: none;
	color: #333333;
}
#loginRegister a{
	text-decoration: none;
	color: #333333;
	font-size: small;
}
#maplogo{

}
#masthead{
	padding-top: 5%;
}
#masthead h1{
	font-size: 70px;
	color: #c40404;
	font-family:myFirstFont;
}
#masthead #mastcontent{
	padding-top: 15px;
}
@media only screen and (min-width: 40.063em) {
	#masthead h1{
		font-size: 100px;
	}
}
#masthead h3{
	color: #333333;
}

.pagepanel{
	min-height: 100%;
}
#requestButton{
	background-color: #c40404;
	border-color: #c40404;
	border-radius: 8px;
}
#requestButton:hover{
	background-color: #fff;
	border-color: #c40404;
	border-style: solid;
	border-width: thin;;
	color: #c40404;
}
#browseButton{
	background-color: #fff;
	border-color: #c40404;
	border-style: solid;
	border-width: thin;;
	color: #c40404;
	border-radius: 8px;
	margin-left: 10px;
}
#browseButton:hover{
	background-color: #333333;
	border-color: #c40404;
	color: #fff;
}

@font-face
{
	font-family: myFirstFont;
	src: url("../fonts/data-latin.ttf");
}
